@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,279;1,279&display=swap');



.success-container {
    background-color: #CE2829; 
    height: 100vh; 
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FAF7F2;
}










@media (max-width: 768px) {

    

}
